<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sce.br.scemobile" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActMainActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".ActLogin"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActVisit"
            android:label="" >
        </activity>
        <activity
            android:name=".ActSynchronize"
            android:label="" >
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
